@model WebAppsConsumeApi.CRUD.Models.TblJurusanModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblJurusanModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JurusanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JurusanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaJurusan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaJurusan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeskripsiJurusan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeskripsiJurusan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Convert.ToDateTime(Model.CreatedTime).ToString("dd MMMM yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @(Model.IsActive == true ? "Aktif" : "Tidak Aktif")
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
